/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
&kp GRAVE      &kp Q  &kp W     &kp F         &kp P  &kp B                                                              &kp J         &kp L       &kp U      &kp Y    &kp MINUS  &kp EQUAL
&kp TAB        &kp A  &kp R     &kp S         &kp T  &kp G                                                              &kp M         &kp N       &kp E      &kp I    &kp O      &kp SEMICOLON
&kp BACKSLASH  &kp Z  &kp X     &kp C         &kp D  &kp V             &kp LSHFT  &kp ESCAPE  &kp BACKSPACE  &kp LCTRL  &kp K         &kp H       &kp COMMA  &kp DOT  &kp SLASH  &kp SQT
                      &kp LGUI  &kp LEFT_ALT  &mo 1  &kp LEFT_CONTROL  &kp ENTER  &kp SPACE   &kp LSHFT      &mo 2      &kp LEFT_ALT  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            display-name = "lower";
            bindings = <
&to 3   &kp F9  &kp F10  &kp F11  &kp F12  &kp PRINTSCREEN                                  &trans        &kp N7        &kp N8        &kp N9        &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans                                           &trans        &kp N4        &kp N5        &kp N6        &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &kp LA(F4)       &trans  &trans  &trans  &trans  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                &trans   &trans   &trans   &trans           &trans  &trans  &trans  &trans  &kp NUMBER_0  &kp PERIOD
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "raise";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT         &kp HASH      &kp DOLLAR            &kp PERCENT                                            &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans  &trans
&trans  &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                                  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans  &trans           &trans         &trans        &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &trans  &trans  &kp LBKT  &kp RBKT   &trans     &trans     &trans  &trans
                         &trans         &trans        &trans                &trans                 &trans  &trans  &trans  &trans  &trans    &trans
            >;
        };

        nav3d_layer {
            display-name = "nav_3d";
            bindings = <
&to 0  &kp TAB    &kp Q   &kp W   &kp E   &kp R                                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none  &kp LSHFT  &kp A   &kp S   &kp D   &kp F                                           &none         &none         &none         &none         &none         &bt BT_PRV
&none  &kp LCTRL  &kp Z   &kp X   &kp C   &kp B      &kp BACKSPACE  &trans  &none  &none  &none         &none         &none         &none         &none         &bt BT_NXT
                  &trans  &trans  &trans  &kp SPACE  &trans         &none   &none  &none  &none         &none
            >;
        };
    };
};
